/* Main stylesheet */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow: hidden;
  background-color: #f0f0f0;
  color: #444;
  font-size: 16px;
}

canvas {
  width: 100%;
  height: 100vh;
}

img {
  max-width: 100%;
}

.color-1-picker {
  top: auto;
}
@media (max-width: 767px) {
  .color-1-picker.dg.ac {
    width: 100%;
    display: flex;
    align-items: flex-end;
    top: auto;
    bottom: 0;
  }
  .color-1-picker.dg.ac .main {
    width: 100% !important;
    margin-right: 0;
    float: none;
  }
  .color-1-picker.dg.ac .main .close-button {
    width: 100% !important;
    position: static;
    padding: 15px 0;
  }
}
@media (min-width: 768px) {
  .color-1-picker.dg.ac {
    right: auto;
  }
}

.color-display {
  border: 1px solid black;
  height: 60px;
  width: 250px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
}
@media (max-width: 767px) {
  .color-display {
    display: none;
  }
}
.color-display #color1, .color-display #color2, .color-display #color3 {
  height: 50px;
  width: 50px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 22px;
}

#message {
  font-size: 22px;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}

.legend-container {
  display: flex;
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.legend-container .switch-ui {
  align-self: flex-end;
  margin-left: 5px;
}
.legend-container .switch-ui .label {
  display: block;
  margin-left: 5px;
  font-size: 12px;
}
.legend-container #legend {
  display: block;
  width: 150px;
  font-size: 12px;
  color: black;
}
@media (max-width: 767px) {
  .legend-container #legend {
    display: none;
  }
}
.legend-container #legend .legend-title {
  font-size: 18px;
}
.legend-container #legend .backdrop {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px;
  margin-top: 5px;
}
.legend-container #legend table {
  width: 100%;
}
.legend-container #legend table thead tr {
  font-weight: bold;
}
.legend-container #legend table thead tr.divider {
  vertical-align: top;
}
.legend-container #legend table tr.divider {
  height: 20px;
  vertical-align: bottom;
}
.legend-container #legend table tr td {
  width: 50%;
}
.legend-container #legend table tr td:last-of-type {
  text-align: right;
}

#author {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  font-size: 12px;
}
@media (max-width: 767px) {
  #author {
    display: none;
  }
}
#author .column.description {
  text-align: right;
  padding-right: 10px;
}
#author .column #portrait, #author .column #portrait2 {
  display: flex;
  border: 1px solid black;
  width: 100px;
  margin-bottom: 8px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  margin: 5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .switch-slider {
  background-color: #2196F3;
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switch-slider.round {
  border-radius: 34px;
}

.switch-slider.round:before {
  border-radius: 50%;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm1haW4uc2NzcyIsIl9lbGVtZW50cy5zY3NzIiwiX1VJLnNjc3MiLCJfcmVzcG9uc2l2ZS5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0FDRUE7RUFDQztFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7OztBQUdEO0VBQ0M7RUFDQTs7O0FBR0Q7RUFDQzs7O0FDZkQ7RUFDQzs7QUNLQTtFREhBO0lBR0U7SUFDQTtJQUNBO0lBQ0E7SUFDQTs7RUFFQTtJQUNDO0lBQ0E7SUFDQTs7RUFFQTtJQUNDO0lBQ0E7SUFDQTs7O0FDUko7RURUQTtJQXVCRTs7OztBQUtIO0VBQ0M7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7O0FDdENBO0VEeUJEO0lBZ0JFOzs7QUFHRDtFQUNDO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7O0FBSUY7RUFDQztFQUNBO0VBQ0E7RUFDQTtFQUNBOzs7QUFHRDtFQUNDO0VBQ0E7RUFDQTtFQUNBOztBQUVBO0VBQ0M7RUFDQTs7QUFFQTtFQUNDO0VBQ0E7RUFDQTs7QUFJRjtFQUNDO0VBQ0E7RUFDQTtFQUNBOztBQ3RGRDtFRGtGQTtJQU9FOzs7QUFHRDtFQUNDOztBQUdEO0VBQ0M7RUFDQTtFQUNBO0VBQ0E7O0FBR0Q7RUFDQzs7QUFJQztFQUNDOztBQUVBO0VBQ0M7O0FBT0Y7RUFDQztFQUNBOztBQUdEO0VBQ0M7O0FBR0E7RUFDQzs7O0FBUU47RUFDQztFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQzlJQTtFRHlJRDtJQVFFOzs7QUFLQTtFQUNDO0VBQ0E7O0FBR0Q7RUFDQztFQUNBO0VBQ0E7RUFDQTs7O0FBS0g7QUFDQTtFQUNDO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7OztBQUdEO0FBQ0E7RUFDQztFQUNBO0VBQ0E7OztBQUdEO0FBQ0E7RUFDQztFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7OztBQUdEO0VBQ0M7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOzs7QUFHRDtFQUNDOzs7QUFHRDtFQUNDOzs7QUFHRDtFQUNDO0VBQ0E7RUFDQTs7O0FBR0Q7QUFDQTtFQUNDOzs7QUFHRDtFQUNDIiwiZmlsZSI6Im1haW4uY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLyogTWFpbiBzdHlsZXNoZWV0ICovXG4vLyBUaGlzIHByb2plY3QgdXNlcyBpbnZlcnRlZCB0cmlhbmdsZSBDU1MgYXJjaGl0ZWN0dXJlIChodHRwczovL3d3dy54Zml2ZS5jby9ibG9nL2l0Y3NzLXNjYWxhYmxlLW1haW50YWluYWJsZS1jc3MtYXJjaGl0ZWN0dXJlLylcblxuLy8gRWxlbWVudHMg4oCTIHN0eWxpbmcgZm9yIGJhcmUgSFRNTCBlbGVtZW50c1xuQHVzZSAnZWxlbWVudHMnO1xuXG4vLyBVSSBjb21wb25lbnRzXG5AdXNlICdVSSc7XG4iLCIvLyBFbGVtZW50cyDigJMgc3R5bGluZyBmb3IgYmFyZSBIVE1MIGVsZW1lbnRzXHJcblxyXG5ib2R5IHtcclxuXHRmb250LWZhbWlseTogJ1JvYm90bycsIHNhbnMtc2VyaWY7XHJcblx0bWFyZ2luOiAwO1xyXG5cdG92ZXJmbG93OiBoaWRkZW47XHJcblx0YmFja2dyb3VuZC1jb2xvcjogI2YwZjBmMDtcclxuXHRjb2xvcjogIzQ0NDtcclxuXHRmb250LXNpemU6IDE2cHg7XHJcbn1cclxuXHJcbmNhbnZhcyB7XHJcblx0d2lkdGg6IDEwMCU7XHJcblx0aGVpZ2h0OiAxMDB2aDtcclxufVxyXG5cclxuaW1nIHtcclxuXHRtYXgtd2lkdGg6IDEwMCU7XHJcbn0iLCJAdXNlICdyZXNwb25zaXZlJyBhcyAqO1xuXG4uY29sb3ItMS1waWNrZXIge1xuXHR0b3A6IGF1dG87XG5cdFxuXHQmLmRnLmFjIHtcblx0XHRcblx0XHRAaW5jbHVkZSBtb2JpbGUtb25seSB7XG5cdFx0XHR3aWR0aDogMTAwJTtcblx0XHRcdGRpc3BsYXk6IGZsZXg7XG5cdFx0XHRhbGlnbi1pdGVtczogZmxleC1lbmQ7XG5cdFx0XHR0b3A6IGF1dG87XG5cdFx0XHRib3R0b206IDA7XG5cdFx0XHRcblx0XHRcdC5tYWluIHtcblx0XHRcdFx0d2lkdGg6IDEwMCUgIWltcG9ydGFudDtcblx0XHRcdFx0bWFyZ2luLXJpZ2h0OiAwO1xuXHRcdFx0XHRmbG9hdDogbm9uZTtcblx0XHRcdFx0XG5cdFx0XHRcdC5jbG9zZS1idXR0b24ge1xuXHRcdFx0XHRcdHdpZHRoOiAxMDAlICFpbXBvcnRhbnQ7XG5cdFx0XHRcdFx0cG9zaXRpb246IHN0YXRpYztcblx0XHRcdFx0XHRwYWRkaW5nOiAxNXB4IDA7XG5cdFx0XHRcdH1cblx0XHRcdH1cblx0XHR9XG5cdFx0XG5cdFx0QGluY2x1ZGUgdGFibGV0IHtcblx0XHRcdHJpZ2h0OiBhdXRvO1xuXHRcdH1cblx0fVxufVxuXG4uY29sb3ItZGlzcGxheSB7XG5cdGJvcmRlcjogMXB4IHNvbGlkIGJsYWNrO1xuXHRoZWlnaHQ6IDYwcHg7XG5cdHdpZHRoOiAyNTBweDtcblx0cG9zaXRpb246IGZpeGVkO1xuXHR0b3A6IDIwcHg7XG5cdGxlZnQ6IDUwJTtcblx0dHJhbnNmb3JtOiB0cmFuc2xhdGVYKC01MCUpO1xuXHRiYWNrZ3JvdW5kLWNvbG9yOiByZ2JhKDI1NSwgMjU1LCAyNTUsIC41KTtcblx0ZGlzcGxheTogZmxleDtcblx0ZmxleC13cmFwOiB3cmFwO1xuXHRqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWJldHdlZW47XG5cdGFsaWduLWNvbnRlbnQ6IGNlbnRlcjtcblx0cGFkZGluZzogMjBweDtcblx0XG5cdEBpbmNsdWRlIG1vYmlsZS1vbmx5IHtcblx0XHRkaXNwbGF5OiBub25lO1xuXHR9XG5cdFxuXHQjY29sb3IxLCAjY29sb3IyLCAjY29sb3IzIHtcblx0XHRoZWlnaHQ6IDUwcHg7XG5cdFx0d2lkdGg6IDUwcHg7XG5cdFx0cGFkZGluZzogOHB4O1xuXHRcdGRpc3BsYXk6IGZsZXg7XG5cdFx0anVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG5cdFx0YWxpZ24taXRlbXM6IGNlbnRlcjtcblx0XHR0ZXh0LWFsaWduOiBjZW50ZXI7XG5cdFx0Y29sb3I6IHJnYmEoMjU1LCAyNTUsIDI1NSwgLjUpO1xuXHRcdGZvbnQtc2l6ZTogMjJweDtcblx0fVxufVxuXG4jbWVzc2FnZSB7XG5cdGZvbnQtc2l6ZTogMjJweDtcblx0cG9zaXRpb246IGFic29sdXRlO1xuXHRsZWZ0OiA1MCU7XG5cdHRvcDogMjBweDtcblx0dHJhbnNmb3JtOiB0cmFuc2xhdGVYKC01MCUpO1xufVxuXG4ubGVnZW5kLWNvbnRhaW5lciB7XG5cdGRpc3BsYXk6IGZsZXg7XG5cdHBvc2l0aW9uOiBmaXhlZDtcblx0Ym90dG9tOiAyMHB4O1xuXHRsZWZ0OiAyMHB4O1xuXHRcblx0LnN3aXRjaC11aSB7XG5cdFx0YWxpZ24tc2VsZjogZmxleC1lbmQ7XG5cdFx0bWFyZ2luLWxlZnQ6IDVweDtcblx0XHRcblx0XHQubGFiZWwge1xuXHRcdFx0ZGlzcGxheTogYmxvY2s7XG5cdFx0XHRtYXJnaW4tbGVmdDogNXB4O1xuXHRcdFx0Zm9udC1zaXplOiAxMnB4O1xuXHRcdH1cblx0fVxuXHRcblx0I2xlZ2VuZCB7XG5cdFx0ZGlzcGxheTogYmxvY2s7XG5cdFx0d2lkdGg6IDE1MHB4O1xuXHRcdGZvbnQtc2l6ZTogMTJweDtcblx0XHRjb2xvcjogYmxhY2s7XG5cdFx0XG5cdFx0QGluY2x1ZGUgbW9iaWxlLW9ubHkge1xuXHRcdFx0ZGlzcGxheTogbm9uZTtcblx0XHR9XG5cdFx0XG5cdFx0LmxlZ2VuZC10aXRsZSB7XG5cdFx0XHRmb250LXNpemU6IDE4cHg7XG5cdFx0fVxuXHRcdFxuXHRcdC5iYWNrZHJvcCB7XG5cdFx0XHRib3JkZXI6IDFweCBzb2xpZCBibGFjaztcblx0XHRcdGJhY2tncm91bmQtY29sb3I6IHJnYmEoMjU1LCAyNTUsIDI1NSwgLjQpO1xuXHRcdFx0cGFkZGluZzogNXB4O1xuXHRcdFx0bWFyZ2luLXRvcDogNXB4O1xuXHRcdH1cblx0XHRcblx0XHR0YWJsZSB7XG5cdFx0XHR3aWR0aDogMTAwJTtcblx0XHRcdFxuXHRcdFx0dGhlYWQge1xuXHRcdFx0XHRcblx0XHRcdFx0dHIge1xuXHRcdFx0XHRcdGZvbnQtd2VpZ2h0OiBib2xkO1xuXHRcdFx0XHRcdFxuXHRcdFx0XHRcdCYuZGl2aWRlciB7XG5cdFx0XHRcdFx0XHR2ZXJ0aWNhbC1hbGlnbjogdG9wO1xuXHRcdFx0XHRcdH1cblx0XHRcdFx0fVxuXHRcdFx0fVxuXHRcdFx0XG5cdFx0XHR0ciB7XG5cdFx0XHRcdFxuXHRcdFx0XHQmLmRpdmlkZXIge1xuXHRcdFx0XHRcdGhlaWdodDogMjBweDtcblx0XHRcdFx0XHR2ZXJ0aWNhbC1hbGlnbjogYm90dG9tO1xuXHRcdFx0XHR9XG5cdFx0XHRcdFxuXHRcdFx0XHR0ZCB7XG5cdFx0XHRcdFx0d2lkdGg6IDUwJTtcblx0XHRcdFx0XHRcblx0XHRcdFx0XHRcblx0XHRcdFx0XHQmOmxhc3Qtb2YtdHlwZSB7XG5cdFx0XHRcdFx0XHR0ZXh0LWFsaWduOiByaWdodDtcblx0XHRcdFx0XHR9XG5cdFx0XHRcdH1cblx0XHRcdH1cblx0XHR9XG5cdH1cbn1cblxuI2F1dGhvciB7XG5cdHBvc2l0aW9uOiBhYnNvbHV0ZTtcblx0cmlnaHQ6IDIwcHg7XG5cdHRvcDogMjBweDtcblx0ZGlzcGxheTogZmxleDtcblx0Zm9udC1zaXplOiAxMnB4O1xuXHRcblx0QGluY2x1ZGUgbW9iaWxlLW9ubHkge1xuXHRcdGRpc3BsYXk6IG5vbmU7XG5cdH1cblx0XG5cdC5jb2x1bW4ge1xuXHRcdFxuXHRcdCYuZGVzY3JpcHRpb24ge1xuXHRcdFx0dGV4dC1hbGlnbjogcmlnaHQ7XG5cdFx0XHRwYWRkaW5nLXJpZ2h0OiAxMHB4O1xuXHRcdH1cblx0XHRcblx0XHQjcG9ydHJhaXQsICNwb3J0cmFpdDIge1xuXHRcdFx0ZGlzcGxheTogZmxleDtcblx0XHRcdGJvcmRlcjogMXB4IHNvbGlkIGJsYWNrO1xuXHRcdFx0d2lkdGg6IDEwMHB4O1xuXHRcdFx0bWFyZ2luLWJvdHRvbTogOHB4O1xuXHRcdH1cblx0fVxufVxuXG4vKiBUaGUgc3dpdGNoIC0gdGhlIGJveCBhcm91bmQgdGhlIHNsaWRlciAqL1xuLnN3aXRjaCB7XG5cdHBvc2l0aW9uOiByZWxhdGl2ZTtcblx0ZGlzcGxheTogYmxvY2s7XG5cdHdpZHRoOiA2MHB4O1xuXHRoZWlnaHQ6IDM0cHg7XG5cdG1hcmdpbjogNXB4O1xufVxuXG4vKiBIaWRlIGRlZmF1bHQgSFRNTCBjaGVja2JveCAqL1xuLnN3aXRjaCBpbnB1dCB7XG5cdG9wYWNpdHk6IDA7XG5cdHdpZHRoOiAwO1xuXHRoZWlnaHQ6IDA7XG59XG5cbi8qIFRoZSBzbGlkZXIgKi9cbi5zd2l0Y2gtc2xpZGVyIHtcblx0cG9zaXRpb246IGFic29sdXRlO1xuXHRjdXJzb3I6IHBvaW50ZXI7XG5cdHRvcDogMDtcblx0bGVmdDogMDtcblx0cmlnaHQ6IDA7XG5cdGJvdHRvbTogMDtcblx0YmFja2dyb3VuZC1jb2xvcjogI2NjYztcblx0LXdlYmtpdC10cmFuc2l0aW9uOiAuNHM7XG5cdHRyYW5zaXRpb246IC40cztcbn1cblxuLnN3aXRjaC1zbGlkZXI6YmVmb3JlIHtcblx0cG9zaXRpb246IGFic29sdXRlO1xuXHRjb250ZW50OiBcIlwiO1xuXHRoZWlnaHQ6IDI2cHg7XG5cdHdpZHRoOiAyNnB4O1xuXHRsZWZ0OiA0cHg7XG5cdGJvdHRvbTogNHB4O1xuXHRiYWNrZ3JvdW5kLWNvbG9yOiB3aGl0ZTtcblx0LXdlYmtpdC10cmFuc2l0aW9uOiAuNHM7XG5cdHRyYW5zaXRpb246IC40cztcbn1cblxuaW5wdXQ6Y2hlY2tlZCArIC5zd2l0Y2gtc2xpZGVyIHtcblx0YmFja2dyb3VuZC1jb2xvcjogIzIxOTZGMztcbn1cblxuaW5wdXQ6Zm9jdXMgKyAuc3dpdGNoLXNsaWRlciB7XG5cdGJveC1zaGFkb3c6IDAgMCAxcHggIzIxOTZGMztcbn1cblxuaW5wdXQ6Y2hlY2tlZCArIC5zd2l0Y2gtc2xpZGVyOmJlZm9yZSB7XG5cdC13ZWJraXQtdHJhbnNmb3JtOiB0cmFuc2xhdGVYKDI2cHgpO1xuXHQtbXMtdHJhbnNmb3JtOiB0cmFuc2xhdGVYKDI2cHgpO1xuXHR0cmFuc2Zvcm06IHRyYW5zbGF0ZVgoMjZweCk7XG59XG5cbi8qIFJvdW5kZWQgc2xpZGVycyAqL1xuLnN3aXRjaC1zbGlkZXIucm91bmQge1xuXHRib3JkZXItcmFkaXVzOiAzNHB4O1xufVxuXG4uc3dpdGNoLXNsaWRlci5yb3VuZDpiZWZvcmUge1xuXHRib3JkZXItcmFkaXVzOiA1MCU7XG59XG4iLCIvLyBSZXNwb25zaXZlIGJyZWFrcG9pbnRzIGFuZCBtaXhpbnNcblxuJG1vYmlsZS13aWR0aDogNzY3cHg7XG4kdGFibGV0LXdpZHRoOiA3NjhweDtcbiRkZXNrdG9wLXdpZHRoOiA5OTJweDtcbiRkZXNrdG9wLWxhcmdlLXdpZHRoOiAxMjAwcHg7XG5cbkBtaXhpbiBtb2JpbGUtb25seSB7XG5cdEBtZWRpYSAobWF4LXdpZHRoOiAjeyRtb2JpbGUtd2lkdGh9KSB7XG5cdFx0QGNvbnRlbnQ7XG5cdH1cbn1cblxuQG1peGluIHRhYmxldCB7XG5cdEBtZWRpYSAobWluLXdpZHRoOiAjeyR0YWJsZXQtd2lkdGh9KSB7XG5cdFx0QGNvbnRlbnQ7XG5cdH1cbn1cblxuQG1peGluIHRhYmxldC1vbmx5IHtcblx0QG1lZGlhIChtaW4td2lkdGg6ICN7JHRhYmxldC13aWR0aH0pIGFuZCAobWF4LXdpZHRoOiAjeyRkZXNrdG9wLXdpZHRoIC0gMXB4fSkge1xuXHRcdEBjb250ZW50O1xuXHR9XG59XG5cbkBtaXhpbiBkZXNrdG9wIHtcblx0QG1lZGlhIChtaW4td2lkdGg6ICN7JGRlc2t0b3Atd2lkdGh9KSB7XG5cdFx0QGNvbnRlbnQ7XG5cdH1cbn1cblxuQG1peGluIGRlc2t0b3AtbGFyZ2Uge1xuXHRAbWVkaWEgKG1pbi13aWR0aDogI3skZGVza3RvcC1sYXJnZS13aWR0aH0pIHtcblx0XHRAY29udGVudDtcblx0fVxufVxuIl19 */
